* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: whitesmoke;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    font-size: 2.5em;
}

a {
    text-decoration-thickness: 3px;
    text-decoration-color: goldenrod;
}
