div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 15vw;
    height: 35rem;
    flex-wrap: wrap;
    margin: 4em;
}

div span {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    border: 1px solid grey;
    padding: 0.8em 2.2em;
    margin: 0.2em;
}

.S {
    order: -12;
}

.e {
    order: -11;
}

.m {
    order: -10;
}

.a {
    order: -9;
}

.n {
    order: -8;
}

.t {
    order: -7;
}

.i {
    order: -6;
}

.c {
    order: -5;
}