@import url(https://fonts.googleapis.com/css2?family=Karla&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 18px/1.2 "Karla";
}

.img-bg {
    height: 40rem;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/poster.jpg);
    background-size: 100% 100%;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h2 {
    font-size: 90px;
    font-family: 'Cormorant Infant';
}


.site-section {
    padding: 2em;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.site-header {
    display: flex;
    justify-content: space-between;
}

.site-header ul {
    display: flex;
    gap: 0 2.5em;
}

.logo {
    width: 10%;
}

.site-header li {
    list-style: none outside;
}

.site-header li a {
    color: white;
    text-decoration: none;
}

.banner-info {
    display: flex;
    flex-direction: column;
    gap: 4em 0;
    color: white;
    align-items: center;
    margin: 4em 0 10em;
}

.banner-info p {
    text-align: center;
}


.quote {
    background-color: #F9F0E9;
}

.quote h2 {
    font-style: italic;
    padding: 0.8em 0 1.3em;
    line-height: 0.8;
}

.quote-info {
    display: flex;
    flex-direction: column;
}

.support {
    text-align: center;
    color: white;
    background-color: #E14747;
}

.support-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1.8em 0;
}

.support-container p:first-child {
    font-weight: bold;
}

.support-container p:last-child {
    font-size: 16px;
}

.media img {
    max-width: 750px;
}

.media {
    display: flex;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.info h2 {
    text-align: center;
    margin-bottom: 0.2em;
    line-height: 1em;
}

.mind {
    background-color: #F9F0E9;
}

.mind-wrapper {
    display: flex;
    justify-content: center;
}

.mind-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    line-height: 1.3;
}



.read-more {
    text-decoration: none;
    color: black;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 0.3em;
    padding: 0.4em;
    width: 115px;
    margin-top: 3.6em;
}

.read-all {
    text-decoration: none;
    color: black;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 0.3em;
    padding: 0.4em;
    margin-bottom: 0.8em;

}

.find-guide {
    background-color: #E14747;
}

.find-guide h2 {
    color: white;
    font-family: Cormorant Infant;
    margin-top: 0.8em;
}

.find-guide p {
    color: white;
    text-align: center;
    line-height: 1.5em;
}

.find-guide-btn {
    text-decoration: none;
    color: black;
    background-color: #FAD779;
    padding: 0.7em 0.9em;
    border-radius: 1.2em;
    display: block;
    margin-top: 0.3em;
    margin-bottom: 0.8em;
}

.guide-container {
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
}

.media-footer img {
    width: 5%;
}

footer {
    background-color: #352B2A;
    color: white;
}

footer p:nth-child(3) {
    color: #716363;
    font-size: 16px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 1em;
}